{% extends 'main/layout.html' %}

{% block content %}
<div style="position:relative; left: 400px; top: 200px;">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  <div class="col mb-4">
    <div class="card">
      <img src="https://avatars.mds.yandex.net/i?id=e597b5eee31aed3c6aa1a7afe0e6357a-5709310-images-thumbs&n=13" style = "width: 100%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Асет Маликов</h5>
        <p class="card-text">Делал модули</p>
      </div>
    </div>
  </div>
  
  <div class="col mb-4">
    <div class="card">
      <img src="https://avatars.mds.yandex.net/i?id=e597b5eee31aed3c6aa1a7afe0e6357a-5709310-images-thumbs&n=13" style = "width: 100%" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Арайлым Аманжолова</h5>
        <p class="card-text">Делала Шаблоны</p>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}